<h1 mat-dialog-title>New Collection</h1>
<div mat-dialog-content>
	<form [formGroup]="newCollectionForm">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input required matInput formControlName="name">
			<mat-error *ngIf="newCollectionForm.get('name').hasError('required')">
				Collection name is required.
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<ngx-mat-file-input placeholder="Back Image" accept="image/*" formControlName="backFile">
			</ngx-mat-file-input>
		</mat-form-field>
	</form>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Assets
			</mat-panel-title>
			<mat-panel-description>
				Select assets to add to collection
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-selection-list #collectionList [ngModel]="data.defaultSelection">
			<mat-list-option *ngFor="let asset of data.assets" [value]="asset.index">
				{{asset.asset.name}}
			</mat-list-option>
		</mat-selection-list>
	</mat-expansion-panel>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [disabled]="!newCollectionForm.valid" (click)="onOkClick()">Ok</button>
</div>