#toolkit-canvas-container {
	position: relative;
	overflow: hidden;
}

#toolkit-canvas {
	height: 100%;
	width: 100%;
}

.example-tree-invisible {
	display: none;
  }
  
.example-tree ul,
.example-tree li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

mat-sidenav {
	width: 300px;
}

.type-icon {
	margin-right: 10px;
}

.element-select {
	width: 100%;
	display: flex;
	align-items: center;
}

.selectable {
	width: 100%;
}

#assets-panel {
	.asset-button {
		margin-top: 10px;
		width: 100%
	}
}
