<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        
        <form class="example-form">
            
            <mat-card-content>
                <p>
                    Board Game Development Toolkit
                </p>
                <p>
                    This is our Senior Project made within UNR, CSE Department for CS 426 during Spring 2021
                </p>
                <p>
                    This is created by Team 30 within the class consisting of Ryan Keeler, Casey Lamb, Anthony Novotny, Tyler Stewart
                </p>
                <p>
                    Eelke Folmer (Advisor), David Feil-Seifer (Instructor), Devrin Lee (Instructor)
                </p>

                <p>
                    Summary: 
                </p>
            </mat-card-content>

           

        </form>
    </mat-card>
</div>    