<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        
        <form class="example-form">
            
            <mat-card-content>
                <p>
                    Board Game Development Toolkit
                </p>
                <p>
                    This is our Senior Project made within UNR, CSE Department for CS 426 during Spring 2021 semester
                </p>
                <p>
                    This is created by Team 30 within the class consisting of Ryan Keeler, Casey Lamb, Anthony Novotny, Tyler Stewart
                </p>
                <p>
                    Eelke Folmer (Advisor), David Feil-Seifer (Instructor), Devrin Lee (Instructor)
                </p>

                <p>
                    About the Project: Team 30 is designing a board game development toolkit and remote play environment 
                    for their project. The toolkit provides different assets to the users to develop their own style 
                    of a well-known game or something completely different with the twist of changing the rule set 
                    to provide players a fair advantage, as well as providing more accessible controls than 
                    other board-game simulators on the market. The toolkit will also allow players to create 
                    their own custom expansions or spin-offs for existing games. The remote play environment 
                    utilizes a uniqueness to operating board games with server-based in-browser multiplayer 
                    for the creator to invite players to their game with no downloads to the 
                    invited users to start playing and communicating immediately.
                </p>
            </mat-card-content>

           

        </form>
    </mat-card>
</div>    