<div class="login-wrapper">

	<div class="container blue" style="margin-top:100px; margin-bottom:150px; font-size:16px; text-align:center;">
		<div>
			<div>
				<h1>Board Game Development Toolkit</h1>
				<p>This is a Senior Project made within UNR, CSE Department for CS 426 during the Spring 2021 semester.
				</p>
			</div>
		</div>
	</div>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<h2 style="text-align: center;">Meet Team 30</h2>
		<div class="row" id="team">
			<!-- TEAM MEMBER 1 - START -->
			<div class="col-xs-6 col-sm-3" style="display: flex; justify-content: center; align-items: center;">
				<div class="team-member">
					<div class="overlay-wrapper2">
						<img src="https://boardgame-toolkit-assets.s3-us-west-1.amazonaws.com/alex-novotny-profile.png"
							class="img-responsive" alt="">
					</div>
					<h4 style="width: 270px;">Alexander Novotny</h4>
					<span style="width: 280px;">CEO</span>
					<p style="width: 280px;">I've been a board game connoisseur for a greater part of my life. I just
						want more people to make more good games for more people to play!</p>
				</div>
			</div>
			<!-- TEAM MEMBER 1 - END -->

			<!-- TEAM MEMBER 2 - START -->
			<div class="col-xs-6 col-sm-3" style="display: flex; justify-content: center; align-items: center;">
				<div class="team-member">
					<div class="overlay-wrapper2">
						<img src="assets/img/tyler-stewart-profile.jpg" class="img-responsive" alt="">
					</div>
					<h4 style="width: 270px;">Tyler Stewart</h4>
					<span style="width: 280px;">Project Manager</span>
					<p style="width: 280px;">I have been playing boardgames my whole life, some of my favorite include secret hitler,
					Gloom and Betrayal at House on the Hill. I'm excited to be developing a product that will help in the game design
					process. </p>
				</div>
			</div>
			<!-- TEAM MEMBER 2 - END -->

			<!-- TEAM MEMBER 3 - START -->
			<div class="col-xs-6 col-sm-3" style="display: flex; justify-content: center; align-items: center;">
				<div class="team-member">
					<div class="overlay-wrapper2">
						<img src="assets/img/casey-lamb-profile.jpg" class="img-responsive" alt="">
					</div>
					<h4 style="width: 270px;">Casey Lamb</h4>
					<span style="width: 280px;">Webdesigner</span>
					<p style="width: 280px;">I've played games for most of my life, but I occasionally play
						board games for some quality bonding time.</p>
				</div>
			</div>
			<!-- TEAM MEMBER 3 - END -->

			<!-- TEAM MEMBER 4 - START -->
			<div class="col-xs-6 col-sm-3" style="display: flex; justify-content: center; align-items: center;">
				<div class="team-member">
					<div class="overlay-wrapper2">
						<img src="assets/img/placeholder-image.png" class="img-responsive" alt="">
					</div>
					<h4 style="width: 270px;">Ryan Keeler</h4>
					<span style="width: 280px;">Photographer</span>
					<p style="width: 280px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla
						sagittis, scelerisque mi vitae.</p>
				</div>
			</div>
			<!-- TEAM MEMBER 4 - END -->
		</div>
		<h2 style="text-align: center; margin-top: 50px;">Instructors and Advisors</h2>
		<p style="text-align: center;">
			David Feil-Seifer (Instructor), Devrin Lee (Instructor), Eelke Folmer (Advisor), Adrian Lowery (External
			Advisor, Scientific Games)
		</p>
	</div>

	<div class="container">
		<h2 style="text-align: center; margin-top: 50px;">About the Project</h2>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			Team 30 is designing a board game development toolkit and remote play environment
			for their project. The toolkit provides different assets to the users to develop their own style
			of a well-known game or something completely different with the twist of changing the rule set
			to provide players a fair advantage, as well as providing more accessible controls than
			other board-game simulators on the market. The toolkit will also allow players to create
			their own custom expansions or spin-offs for existing games. The remote play environment
			utilizes a uniqueness to operating board games with server-based in-browser multiplayer
			for the creator to invite players to their game with no downloads to the
			invited users to start playing and communicating immediately.
		</p>
	</div>

	<div class="container">
		<h2 style="text-align: center; margin-top: 50px;">Project Domain Resources</h2>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[1] Matthew Berland and Victor R. Lee. “Collaborative Strategic Board Games as a Site for Distributed
			Computational
			Thinking”. In: International Journal of Game-Based Learning 1.2 (Apr. 2011), pp. 65–81.
			doi:10.4018/ijgbl.2011040105. A journal article on the power of computational thinking in cooperative board
			games.
			Goes in depthabout the difference in computational thinking in humans who play cooperative board games
			versus humans
			who play competitive board games, due to spreading thinking across multiple people. Results in humans could
			extend
			in an interesting way to computer players playing with other humans, which historically have been bad at
			predicting
			human behaviours.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[2] Renee Garett et al. “A Literature Review: Website Design and User Engagement”. In: Online journal of
			communication and media technologies 6.3 (2016), pp. 1–14.doi:10.29333/ojcmt/2556. A journal article about
			web
			design and common elements thought to be important in user engage-ment. Elements include organization,
			content
			utility, navigation, graphical representation, purpose,and simplicity. Useful for designing a web app
			with a large amount of user engagement.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[3] F. Gobet, J. Retschitzki, and A. de Voogt.Moves in Mind: The Psychology of Board Games. Taylor &
			Francis, 2004. isbn: 9781135425135. url: https://books.google.com/books?id=hfF5AgAAQBAJ. An overview of the
			psychology of playing and designing board games. Includes strategies to play boardgames, effects on
			cognisance, and how to learn to play board games effectively. Useful for figuring outhow people attack
			learning to play board games for UI, Rules API, and AI design purposes.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[4] Vincent Hom and Joe Marks. “Automatic design of balanced board games”. In: Proceedings of the
			AAAIConference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE). 2007, pp. 25–30.
			An article on using a Genetic Algorithm (GA) to design balanced board games. This algorithm could be used
			to help make suggestions to potential board game designers to help balance their games.The algorithm
			makes heavy use of a “General Game Playing” algorithm, however our rules systemgenerating action lists
			could be used instead.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[5] Board Game Design Lab.Tools and Resources. 2020. url: https://www.boardgamedesignlab.com/ (visited
			on 10/19/2020). A website full of tools for board game designers, including tutorials, free assets,
			prototyping tools, and more. Hopefully our toolkit will one day be on this website. Includes a list of
			competitors and assets which our tool should be able to support.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[6] M. Selinker et al.The Kobold Guide to Board Game Design. Open Design LLC,
			2012. isbn: 9781936781041. url: https://books.google.com/books?id=S7rimAEACAAJ. A book about board game
			design. Includes many different mechanics and rules templates, perfect forunderstanding the capabilities
			of our future Rules API. Also includes chapters about asset design and creation, for the purposes of
			knowing what kind of assets we will need to include and region creation.
		</p>
		<p style="display: flex; justify-content: center; align-items: center; width: 750px; margin-left:575px;">
			[7] W3schools.Node.js Introduction. 2020. url: https://www.w3schools.com/nodejs/nodejs_intro.asp (visited
			on 10/19/2020). An introduction to NodeJS - a popular programming languages for managing web servers
			and RESTAPIs. Will be used for managing both the Project Storage System and the Rules System.
		</p>
	</div>
	<!-- <mat-card style="text-align: center;">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        
            <mat-card-content>        
                <mat-card-header>
                    <mat-card-title>Board Game Development Toolkit</mat-card-title>
                </mat-card-header>
                <p>
                    This is our Senior Project made within UNR, CSE Department for CS 426 during Spring 2021 semester
                </p>
                <p>
                    This is created by Team 30 within the class consisting of Ryan Keeler, Casey Lamb, Anthony Novotny, Tyler Stewart
                </p>
                <p>
                    Eelke Folmer (Advisor), David Feil-Seifer (Instructor), Devrin Lee (Instructor)
                </p>
            
                <mat-card-header>
                    <mat-card-title>About the Project:</mat-card-title>
                </mat-card-header>
            
                <p>
                    Team 30 is designing a board game development toolkit and remote play environment 
                    for their project. The toolkit provides different assets to the users to develop their own style 
                    of a well-known game or something completely different with the twist of changing the rule set 
                    to provide players a fair advantage, as well as providing more accessible controls than 
                    other board-game simulators on the market. The toolkit will also allow players to create 
                    their own custom expansions or spin-offs for existing games. The remote play environment 
                    utilizes a uniqueness to operating board games with server-based in-browser multiplayer 
                    for the creator to invite players to their game with no downloads to the 
                    invited users to start playing and communicating immediately.
                </p>

                <mat-card-header>
                    <mat-card-title>Project Domain Resources: </mat-card-title>
                </mat-card-header>

                <p>
                    [1]  Matthew Berland and Victor R. Lee. “Collaborative Strategic Board Games as a Site for Distributed Computational 
                    Thinking”. In: International Journal of Game-Based Learning 1.2 (Apr. 2011), pp. 65–81. 
                    doi:10.4018/ijgbl.2011040105. A journal article on the power of computational thinking in cooperative board games. 
                    Goes in depthabout the difference in computational thinking in humans who play cooperative board games versus humans 
                    who play competitive board games, due to spreading thinking across multiple people. Results in humans could extend 
                    in an interesting way to computer players playing with other humans, which historically have been bad at predicting 
                    human behaviours.
                </p>
                <p>
                    [2]  Renee Garett et al. “A Literature Review: Website Design and User Engagement”. In: Online journal of 
                    communication and media technologies 6.3 (2016), pp. 1–14.doi:10.29333/ojcmt/2556. A journal article about web 
                    design and common elements thought to be important in user engage-ment. Elements include organization, content 
                    utility, navigation, graphical representation, purpose,and simplicity. Useful for designing a web app 
                    with a large amount of user engagement.
                </p>
                <p>
                    [3]  F. Gobet, J. Retschitzki, and A. de Voogt.Moves in Mind: The Psychology of Board Games. Taylor & 
                    Francis, 2004. isbn: 9781135425135. url: https://books.google.com/books?id=hfF5AgAAQBAJ. An overview of the 
                    psychology of playing and designing board games. Includes strategies to play boardgames, effects on 
                    cognisance, and how to learn to play board games effectively. Useful for figuring outhow people attack 
                    learning to play board games for UI, Rules API, and AI design purposes.
                </p>
                <p>
                    [4]  Vincent Hom and Joe Marks. “Automatic design of balanced board games”. In: Proceedings of the 
                    AAAIConference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE). 2007, pp. 25–30. 
                    An article on using a Genetic Algorithm (GA) to design balanced board games. This algorithm could be used 
                    to help make suggestions to potential board game designers to help balance their games.The algorithm 
                    makes heavy use of a “General Game Playing” algorithm, however our rules systemgenerating action lists 
                    could be used instead.
                </p>
                <p>
                    [5]  Board Game Design Lab.Tools and Resources. 2020. url: https://www.boardgamedesignlab.com/ (visited 
                    on 10/19/2020). A website full of tools for board game designers, including tutorials, free assets, 
                    prototyping tools, and more. Hopefully our toolkit will one day be on this website. Includes a list of 
                    competitors and assets which our tool should be able to support.
                </p>
                <p>
                    [6]  M. Selinker et al.The Kobold Guide to Board Game Design. Open Design LLC, 
                    2012. isbn: 9781936781041. url: https://books.google.com/books?id=S7rimAEACAAJ. A book about board game 
                    design. Includes many different mechanics and rules templates, perfect forunderstanding the capabilities 
                    of our future Rules API. Also includes chapters about asset design and creation, for the purposes of 
                    knowing what kind of assets we will need to include and region creation.
                </p>
                <p>
                    [7]  W3schools.Node.js Introduction. 2020. url: https://www.w3schools.com/nodejs/nodejs_intro.asp (visited 
                    on 10/19/2020). An introduction to NodeJS - a popular programming languages for managing web servers 
                    and RESTAPIs. Will be used for managing both the Project Storage System and the Rules System.
                </p>
            </mat-card-content>

           
    </mat-card>  -->
</div>