.grid-layout-custom{
  position: absolute;
  top: 70px;
  opacity: 1;
  //float: left;
  //padding: 5px 5px 5px 5px;
  width: 90%;
  //border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  overflow: auto;  
  }

.new-project{
   position: fixed;
   bottom: 0;
   right: 0;
   padding-bottom: 20px;
   padding-right: 15px;
  }

  .mat-card{
    position: fixed;
    width:90%;
    border-radius: 30px;
    justify-content: center
  }
  .text-oneline {
    padding-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .img{
    padding-top:20px ;
    height: 120px;
    object-fit:contain
  }

  .card-content{
    text-align: center;  
  }