@import '../common-app.scss';

.grid-container {
	margin: 20px;
}

.dashboard-card {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
}

.more-button {
	position: absolute;
	top: 250px;
	right: 10px;
}

.thumbnail {
	// width: 350px;
	height: 250px;
	object-fit: cover;
}

.new-project{
	position: fixed;
	bottom: 0;
	right: 0;
	padding-bottom: 20px;
	padding-right: 15px;
}