<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
	<!-- TODO: add ngIf to check for thumbnail then display thumbnail instead of extion icon. -->
	<!-- rout the edit button to an empty workspace with a button to head back. -->

	<mat-grid-list cols="4" rowHeight="260px" [gutterSize]="'10px'" class="grid-layout-custom">
		<ng-container>
			<mat-grid-tile matRipple *ngFor="let project of projects" class="mat-elevation-z4">
				<mat-card class="mat-card">
					<mat-card-header>
						<mat-card-title>{{project.name}}</mat-card-title>
					</mat-card-header>
					<div *ngIf="!!project.thumbnail">
						<img mat-card-md-image [src]="project.thumbnail" onerror='this.style.display = "none"' />
					</div>
					<!--<mat-icon>extension</mat-icon>-->
					<mat-card-content>
						{{project.modified | timeago:true}}
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>EDIT</button>
					</mat-card-actions>
				</mat-card>
			</mat-grid-tile>
		</ng-container>
	</mat-grid-list>

	<!-- new projects button-->
	<mat-card-actions class="new-project">
		<div fxFlex></div>
		<a mat-fab routerLink="new-project">
			<mat-icon>note_add</mat-icon>
		</a>
	</mat-card-actions>
</div>