<h1 mat-dialog-title>New Lobby</h1>
<div>
	<form [formGroup]="lobbyForm">
		<mat-form-field>
			<mat-label>Game</mat-label>
			<input matInput disabled [value]="data.projectName">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Lobby Name</mat-label>
			<input matInput required formControlName="name">
			<mat-error *ngIf="lobbyForm.get('name').hasError('required')">
				Name is required.
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Max Players</mat-label>
			<input matInput type="number" required formControlName="maxPlayers">
			<mat-error *ngIf="lobbyForm.get('maxPlayers').hasError('required')">
				Max Players is required.
			</mat-error>
			<mat-error
				*ngIf="lobbyForm.get('maxPlayers').hasError('min') && !lobbyForm.get('maxPlayers').hasError('required')">
				Minimum 1 player.
			</mat-error>
		</mat-form-field>
		<mat-slide-toggle formControlName="pub" style="width: 75%">
			Public
		</mat-slide-toggle>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [disabled]="!lobbyForm.valid" (click)="onOkClick()">Ok</button>
</div>