@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e2e2e2; }

mat-button-toggle.selectable button span {
	display: flex;
	align-items: center
}

mat-tab-group.full-tab-group {
	height: calc(100% - 64px);
	.mat-tab-body-wrapper {
		height: 100%;
	}
}

mat-list-item.reduce-padding div.mat-list-item-content {
	padding: 0px !important;
}